{% comment %}
To customize the navigation of "Feeling Responsive", edit `_data/navigation.yml`.
{% endcomment %}
<div id="navigation" class="sticky">
  <nav class="top-bar" role="navigation" data-topbar data-options="scrolltop: false">
    <ul class="title-area">
      <li class="name">
        <h1 class="hide-for-large-up">
          <a href="{{ site.url }}{{ site.baseurl }}" class="icon-tree"> {{ site.title }}</a>
        </h1>
      </li>
      <li class="toggle-topbar menu-icon">
        <a><span>Nav</span></a>
      </li>
    </ul>

    <section class="top-bar-section">
      <!-- Navigation for the left side -->
      <ul class="left">
        {% for link in site.data.navigation %}
          {% assign domain = link.url contains 'http' ? '' : site.url %}
          {% assign _baseurl = link.url contains 'http' ? '' : site.baseurl %}

          {% if link.side == 'left' %}
            {% if link.dropdown %}
              <li class="has-dropdown{% if link.url == page.url %} active{% endif %}">
                <a class="{{ link.class }}" href="{{ domain }}{{ _baseurl }}{{ link.url }}" target="{{ link.url contains 'http' ? '_blank' : '_self' }}">
                  {{ link.title | escape }}
                </a>
                <ul class="dropdown">
                  {% for dropdown_link in link.dropdown %}
                    {% assign domain = dropdown_link.url contains 'http' ? '' : site.url %}
                    <li>
                      <a class="{{ dropdown_link.class }}" href="{{ domain }}{{ _baseurl }}{{ dropdown_link.url }}" target="{{ dropdown_link.url contains 'http' ? '_blank' : '_self' }}">
                        {{ dropdown_link.title | escape }}
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              </li>
            {% else %}
              <li{% if link.url == page.url or (page.homepage and link.url == '/') %} class="active"{% endif %}>
                <a class="{{ link.class }}" href="{{ domain }}{{ _baseurl }}{{ link.url }}" target="{{ link.url contains 'http' ? '_blank' : '_self' }}">
                  {{ link.title | escape }}
                </a>
              </li>
            {% endif %}
            <li class="divider"></li>
          {% endif %}
        {% endfor %}
      </ul>

      <!-- Navigation for the right side -->
      <ul class="right">
        {% for link in site.data.navigation %}
          {% if link.side == 'right' %}
            {% assign domain = link.url contains 'http' ? '' : site.url %}
            {% assign _baseurl = link.url contains 'http' ? '' : site.baseurl %}
            {% if link.dropdown %}
              <li class="has-dropdown{% if link.url == page.url %} active{% endif %}">
                <a class="{{ link.class }}" href="{{ domain }}{{ _baseurl }}{{ link.url }}" target="{{ link.url contains 'http' ? '_blank' : '_self' }}">
                  {{ link.title | escape }}
                </a>
                <ul class="dropdown">
                  {% for dropdown_link in link.dropdown %}
                    {% assign domain = dropdown_link.url contains 'http' ? '' : site.url %}
                    <li>
                      <a class="{{ dropdown_link.class }}" href="{{ domain }}{{ _baseurl }}{{ dropdown_link.url }}" target="{{ dropdown_link.url contains 'http' ? '_blank' : '_self' }}">
                        {{ dropdown_link.title | escape }}
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              </li>
            {% else %}
              <li{% if link.url == page.url or (page.homepage and link.url == '/') %} class="active"{% endif %}>
                <a class="{{ link.class }}" href="{{ domain }}{{ _baseurl }}{{ link.url }}" target="{{ link.url contains 'http' ? '_blank' : '_self' }}">
                  {{ link.title | escape }}
                </a>
              </li>
            {% endif %}
            <li class="divider"></li>
          {% endif %}
        {% endfor %}
      </ul>
    </section>
  </nav>
</div>
