<nav>
  {%- for item in include.menu -%}
    {%- assign node = site.pages | where: "name", item.file | first -%}
    {%- assign url = item.url | default: node.url -%}
    {%- assign title = item.title | default: node.title -%}

    {%- if item.submenu -%}
      <!-- Ako postoji submenu -->
      <div class="dropdown">
        <a href="#" class="dropdown-toggle" aria-label="{{ title }}">
          {%- if item.icon -%}
            <svg aria-label="{{ title }}" class="icon">
              <use xlink:href="{{ "/assets/fontawesome/icons.svg" | relative_url }}#{{ item.icon }}"></use>
            </svg>
          {%- endif -%}
          {{ title }}
        </a>
        <div class="dropdown-content">
          {%- for subitem in item.submenu -%}
            {%- assign subnode = site.pages | where: "name", subitem.file | first -%}
            {%- assign suburl = subitem.url | default: subnode.url -%}
            {%- assign subtitle = subitem.title | default: subnode.title -%}
            <a href="{{ suburl | relative_url }}" {% if suburl == page.url %}class="selected"{% endif %}>
              {{ subtitle }}
            </a>
          {%- endfor -%}
        </div>
      </div>
    {%- else -%}
      <!-- Standardni link -->
      <a href="{{ url | relative_url }}" {% if url == page.url %}class="selected"{% endif %}>
        {%- if item.icon -%}
          <svg aria-label="{{ title }}" class="icon">
            <use xlink:href="{{ "/assets/fontawesome/icons.svg" | relative_url }}#{{ item.icon }}"></use>
          </svg>
        {%- else -%}
          {{ title }}
        {%- endif -%}
      </a>
    {%- endif -%}
  {%- endfor -%}
</nav>
