---
---

@import index, font, basic, layout, classes

@media (min-width: 40em)
  body > header, body > article, body > footer
    padding: 1.75em calc(40% - 17em)

{% if site.minimal %}

body > header
  background: #f9f9f9 // Svijetla boja pozadine
  color: #333333      // Tamno sivi tekst za bolji kontrast
  border-bottom: 1px solid lighten(#333333, 70%) // Suptilna linija ispod zaglavlja

{% else %}

body > header
  background: #f9f9f9 // Svijetla boja
  color: #333333
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1) // Suptilna sjena ispod zaglavlja
  border-bottom: 1px solid lighten(#333333, 70%)

{% endif %}

body > footer
  background: #f9f9f9
  color: #333333
  box-shadow: 0 0 .6em rgba(0, 0, 0, 0.05) inset
  border-top: 1px solid lighten(#333333, 70%)
  opacity: .9

