@import "basic";
@import "classes";
@import "font";
@import "index";
@import "layout";
@import "frame";
@import "sidebar";

.social-links a {
  color: white;
  font-size: 20px;
  margin: 0 10px;
  text-decoration: none;
}

.social-links a:hover {
  color: #00a0dc;
}

.social-links i {
  display: inline-block;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; // Cijela visina ekrana
  background: #ffffff; // Bijela pozadina
  box-sizing: border-box; // Osigurava pravilan izračun dimenzija
}

.container, .wrapper, .main-content {
  width: 100%;
  max-width: 100%;
  margin: 0; // Uklanja centriranje ako ga ne želiš
  padding: 0; // Uklanja unutarnji prostor
}


// Ako postoji dodatno ograničavanje širine
.page, .post, .entry-content {
  width: 100%; // Osigurava da ovi elementi također koriste punu širinu
}
